
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* @media ( max-width: 768px ) {
    .good_and_bad {
        display: inline-block;
    }
    *{
        background-color: red;
    }
  } */
* {
    text-align: center;
    font-family: 'HS-Regular';
    font-weight: lighter;
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.title {
    height: 4%;
    padding: 1%;
    background-color: #1A4D2E;
    font-size: 30px;
    color: #FAF3E3;
}
/* 유형 결과 */
.p80{
    background-color: #FAF3E3;
    height:  39%;
    padding: 2%;
    text-align: center;
    padding-bottom: 0%;
}
.p80 img {
    height: 60%;
    width: auto;
}
strong {
    font-size: 25px;
}
/* 해당 유형 설명 */
.p20{
    background-color: #FAF3E3;
    height: 14%;
    /* 위아래 가운데 정렬하기 위해 부모에 넣어주는것 */
    display: table;
    text-align: center;
    padding: 2%;
    padding-top: 0%;
}
#explain{
    display:table-cell;
    vertical-align:middle;
}
/* 추천, 비추천 여행지 */
.good_and_bad {
    background-color: #FAF3E3;
    height: 33%;
    
    padding: 2%;
    display: inline-block;
}
.good_and_bad article{
    text-align: center;
    width: auto;
    height: 90%;
    background-color: #FAF3E3;
    /* border: solid black; */
}
.good_and_bad img{
    height: 50%;
    width: auto;
}
footer {
    height: 5%;
    background-color: #1A4D2E;
    display: table;
    text-align: center;
}
footer h5{
    display:table-cell;
    vertical-align:middle;
}
