
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width: 768px) {
    #good_and_bad{
        clear: both;
        padding: 5%;
        padding-left: 25%;
    }
    .p20 {
        text-align: center;
        height: 100%;
    }
  }
* {
    text-align: center;
    font-family: 'HS-Regular';
    font-weight: lighter;
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FAF3E3;
}
.p5 {
    height: 4%;
    padding-top: 1%;
    background-color: #1A4D2E;
    color: #FAF3E3;
}
strong {
    font-size: 20px;
}
.p60 {
    height: 58%;
    padding-top: 2%;
}
.p60 img {
    height: 80%;
    width: auto;
}
.p10 {
    height: 10%;
}
.p20 {
    height: 20%;
    display: inline-block;
}
#good_and_bad{
    float: left;
    width: 40%;
    margin: 5%;
}
.p20 img {
    height: 100%;
    width: auto;
}