
#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9{
    display: none;
}
html {
    height: 100%;
}
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    text-align: center;
    font-family: 'HS-Regular';
    font-weight: lighter;
    height: 700px;
}
.p20 {
    background-color: yellow;
    height: 10%;
    margin: 0%;
}

.p20 button {
    height: 60%;
    margin: 1%;
    width: 30%;
}
#img-box {
    height: 70%;
    background-color: gray;
}
#main-img{
    object-fit: cover;
    height:100%;
}